{% block header %}
<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
        </ul>
    </nav>
    <h3 class="text-muted">Search Images</h3>
</div>
{% endblock %}