{% block header %}
<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/upload">Upload</a></li>
        </ul>
    </nav>
    <h3 class="text-muted"><a href="/">Search Images</a></h3>
</div>
{% endblock %}