{% extends "::layout.html.twig" %}

{% block title %}Search Images{% endblock %}
{% block css %}
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    {% for type, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ type }} fade in">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
    <form method="post" action="{{ path('app_image_search') }}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="image">Image</label>
            <input type="file" name="image" id="image" class="form-control" accept="image/jpeg, image/png">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% block javascripts %}{% endblock %}
{% endblock %}